@font-face {
  font-family: "ApfelGrotezk";
  src: url('CSS/ApfelGrotezk-Regular.woff');
}

body {
    background-color:black;
}

.title{
    font-family: "ApfelGrotezk";
    font-weight: 100;
    font-size: 3vw;
    color:white;
    margin-left:1vw;
    margin-top:1vw;
}

.about{
  font-family: "ApfelGrotezk";
  font-weight: 100;

  color:white;
  margin-left:1vw;
  margin-top:1vw;
}

.link1{
    position: relative;
    float: right;
    font-family: "ApfelGrotezk";
    font-weight: 100;
    font-size: 1.5vw;
    color:#912f56;
    margin-left:1vw;
    margin-top:1vw;
    padding:1vw;
    padding-top: 0;
    text-decoration: none;
}


.link2{
    position: relative;
    float: right;
    font-family: "ApfelGrotezk";
    font-weight: 100;
    font-size: 1.5vw;
    color:white;
    margin-left:1vw;
    margin-top:1vw;
    padding:1vw;
    padding-top: 0;
    text-decoration: none;
}

.link2:hover{

    color:#912f56;

}



#top-right {
    position: absolute;
    width: 95%;
    text-align: right;
    align-items: right;
    justify-content: right;
    font-family: "ApfelGrotezk";
    padding:0px;
    margin: 40px;
    font-size: 1em;
    display: inline-block;
    
  }

  #top div {
    position: fixed;
    display: inline-block;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  a:visited {
    color: white;
    text-decoration: none;
  }
  