body {
    background-color:black;
}

.title{
    font-family: 'Quantico', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    color:white;
    margin-left:1vw;
    margin-top:1vw;
}

.link1{
    position: relative;
    float: right;
    font-family: 'Quantico', sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
    color:#912f56;
    margin-left:1vw;
    margin-top:1vw;
    padding:1vw;
    padding-top: 0;
    text-decoration: none;
}


.link2{
    position: relative;
    float: right;
    font-family: 'Quantico', sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
    color:white;
    margin-left:1vw;
    margin-top:1vw;
    padding:1vw;
    padding-top: 0;
    text-decoration: none;
}

.link2:hover{

    color:#912f56;

}